---
import { HOMEPAGE_URL } from "../config";

const today = new Date();
---

<footer class="text-zinc-500 P-4 text-center">
	&copy; {today.getFullYear()}
	 <a href={HOMEPAGE_URL}> GUILLERMO PEREZ. </a>
	 All rights reserved.
</footer>

